.text1 {
	position: absolute;
    margin-top: 320px;
    margin-left: 200px;
    font-size: 25px;
    color: white;
    font-family: Garamond;
}


.text2 {
	position: absolute;
    margin-top: 700px;
    margin-left: 530px;
    font-size: 50px;
    color: white;
    font-family: cooper black;
}

.text3 {
	position: absolute;
    margin-top: 800px;
    margin-left: 300px;
    margin-right: 100px;
    font-size: 35px;
    color: white;
    font-family: Garamond;
}

.text4 {
	position: absolute;
    margin-top: 300px;
    margin-left: 1020px;
    font-size: 25px;
    color: white;
    font-family: Garamond;
}

.logo{
   width: 20px;

}
  
.img {
	position:absolute;
	margin-top: 120px;
	margin-left:1020px;

}

.btn1 {
    position:absolute;
    margin-top: 500px;
    margin-left:900px;
}

.card{
 margin-top: 670px;
 margin-right: 40px;
 margin-left: 40px;
}
